<h2>フォローしているメンバー</h2>
<% if @users.exists? %>
<table>
 <thead>
   <tr>
     <th>ニックネーム</th>
     <th></th>
     <th></th>
   </tr>
 </thead>
 <tbody>
   <% @users.each do |user| %>
    <tr>
      <td><%= user.nickname %></td>
      <td>フォロー数: <%= user.followings.count %></td>
      <td>フォロワー数: <%= user.followers.count %></td>
    </tr>
   <% end %>
 </tbody>
</table>
<% else %>
<p>誰もフォローしていません</p>
<% end %>