// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


ul {
  list-style: none;
}

.size{
  color:#ee7800;
  font-size: 1.5em;

}

.sizes{
  color:#c0c0c0;
  font-size: 1.5em;

}

.versial-content{
  writing-mode: vertical-rl;
  text-orientation: upright;
  height: 300px;
  text-align: justify;
  text-justify: inter-ideograph;
}

.space-pre-line {
  white-space: pre-line;
  width: 100px;
  float: left;
}

.balloon {
  position: relative;
  display: inline-block;
  margin: 1.5em 0;
  padding: 7px 10px;
  min-width: 120px;
  max-width: 100%;
  color: #555;
  font-size: 16px;
  background: #eee8aa;
  border-radius: 15px;
}

.balloon:before {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -15px;
  border: 15px solid transparent;
}

.links{
  color: #331c10;
}
